*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif,
    serif,
    "Times New Roman";
    color: rgb(0,0,0);
}

h1, h2, h3, h4 {
    text-align: center;
    padding: 10px;
    border: 5px solid blueviolet;
    margin: 10px
}

h2, h3, h4 {
    
    font-weight: 900;
    background-color: aqua;  
}

h1 {
    background-color: #FFFF00;
    text-transform: uppercase;
}

img {
    height: auto;
    width: 500px;
    padding: 5px 5px;
    border: 5px dotted grey
}

p,
li {
    padding: 5px 5px;
}
